@import 'variable';

body{
    margin: 0;
}

a, div, button{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:focus{
        outline: none;
    }
}

h1, p{
    margin: 0;
}

p{
    font-size: 1.1rem;
    line-height: 150%;
    font-family: $main;
    margin-bottom: 2rem;
    strong{
        font-family: $secondary;
    }
}

ul{
    margin: 0;
    padding: 0;
}

.hiddenMobile{
    display: none;
}

.container{
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn{
    font-family: $secondary;
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;
    border: 1px solid $white;
    padding: .8rem 2.5rem .7rem 2.5rem;
    border-radius: 30px;
    transition: all ease-in-out .3s;
    &:hover{
        background-color: $white;
        color: $green;
    }
    &.grey{
        color: $grey;
        border: 1px solid $grey;   
        &:hover{
            background-color: $grey;
            color: $white;
        }
    }
    &.green{
        color: $green;
        border: 1px solid $green;   
        &:hover{
            background-color: $green;
            color: $white;
        }
    }
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 75px;

    nav{
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100vh;
        background-color: $green;
        ul{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2rem;
            li{
                margin:1.5rem 0;
                list-style-type: none;
                a{
                    color: $white;
                    text-decoration: none;
                    font-family: $secondary;
                    font-size: 1.2rem;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -3px;
                        width: 0;
                        height: 4px;
                        background-color: $green;
                        transition: all ease-in-out .3s;
                    }
                    &:hover{
                        &::after{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    .burger{
        top: 2rem;
        left: 2rem;
        width: 30px;
        aspect-ratio: 1;
        position: relative;
        cursor: pointer;
        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 2px;
            background-color: $orange;
            transition: all 0.3s ease;
        }
        &:before, &:after{
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 2px;
            background-color: $orange;
            transition: all 0.3s ease;
        }
        &:before{
            top: 0;
        }
        &:after{
            bottom: 0;
        }
        &.active{
            div{
                width: 0;
            }
            &:before{
                top: 50%;
                left: 0;
                transform: rotate(-45deg);
            }
            &:after{
                top: 50%;
                left: 0;
                transform: rotate(45deg);
            }
        }
    }
}

#accueil{
    padding-top: 75px;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../public/img/capucine.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.36);
        z-index: 1;
    }
    h1{
        font-family: $secondary;
        font-size: 3.5rem;
        color: $white;
        text-align: center;
        z-index: 2;
        letter-spacing: 6px;
        margin-bottom: 1rem;
    }
    p{
        font-family: $secondary;
        font-size: 2rem;
        color: $white;
        text-align: center;
        z-index: 2;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
    .btn{
        z-index: 2;
    }
    .modelName{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-family: $secondary;
        font-size: 1rem;
        color: $white;
        z-index: 2;
        margin-bottom: 1rem;
    }
}

#notre-histoire{
    background-color: $cream;
    padding: 3rem 0rem;
    text-align: center;
    .imgContainer{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        img{
            max-width: fit-content;
            width: 100%;
        }
        .modelName{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            font-family: $secondary;
            font-size: 1rem;
            color: $white;
            z-index: 2;
            margin-bottom: 1rem;
        }
    }
    .content{
        text-align: center;
        padding: 0 2rem;
        h2{
            font-family: $secondary;
            font-size: 2.5rem;
            color: $green;
            margin-bottom: 1rem;
            span{
                color: $orange;
            }
        }
    }
}

#galerie{
    background-color: $cream;
    padding-bottom: 3rem;
    .slider{
        .imgSlide{
            height: 100vh;
            width: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .slide_1{
            background-image: url('../../public/img/Slide.png');
        }
        .slide_2{
            background-image: url('../../public/img/Slide_1.png'	);
        }
        .slide_3{
            background-image: url('../../public/img/Slide_2.png');
        }
        .slide_4{
            background-image: url('../../public/img/Slide_3.png');
        }
    }
    .content{
        padding: 0 2rem;
        text-align: center;
        h2{
            color: $orange;
            font-family: $secondary;
            font-size: 2.5rem;
        }
    }
}

@media screen and (min-width: 1024px){
    #galerie{
        display: flex;
        .slider{
            width: 50%;
        }
        .content{
            text-align: left;
            padding: 0 0;
            h2{
                margin-top: 0;
            }
        }
    }
}

@media screen and (min-width: 1200px){
    p{
        font-size: 1.5rem;
        line-height: 168%;
    }
    .hiddenMobile{
        display: flex;
    }
    .hiddenDesktop{
        display: none;
    }
    .btn{
        font-size: 1.5rem;
        padding: .8rem 3.5rem .7rem 3.5rem;
    }
    #header{
        height: 100px;
        nav{
            justify-content: center;
            background: none;
            height: 96px;
            width: 100%;
            ul{
                flex-direction: row;
                justify-content: center;
                align-items: self-end;
                padding: 0;
                li{
                    margin: 0 1.2rem;
                    a{
                        font-size: 2rem;
                    }
                }
            }
        }
        .burger{
            display: none;
        }
    }
    #accueil{
        h1{
            margin-top: 10rem;
            margin-bottom: 1rem;
            font-size: 13.75rem;
        }
        p{
            font-size: 3.125rem;
            margin-bottom: 6rem;
        }
        .modelName{
            bottom: 45px;
            text-align: left;
            left: 12rem;
            letter-spacing: 1px;
        }
    }
    #notre-histoire{
        padding: 5rem 3.4rem;
        height: calc(100vh - 10rem);
        display: flex;
        justify-content: space-between;
        .left{
            align-self: flex-end;
        }
        .right{
            align-self: flex-start;
        }
        .imgContainer{
            width: fit-content;
            &.left{
                margin-left: 0;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 3px;
                    left: 118px;
                    width: 460px;
                    height: 150px;
                    background-image: url('../../public/img/histoire.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                img{
                    width: 380px;
                }
            }
            &.right{
                margin-right: 0;
                margin-top: 68px;
                &::after{
                    content: '';
                    position: absolute;
                    top: -64px;
                    left: -110px;
                    width: 313px;
                    height: 138px;
                    background-image: url('../../public/img/notre.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                img{
                    width: 427px;
                }
            }
            .modelName{
                text-align: left;
                left: 20px;
            }
        }
        .content{
            align-self: center;
            max-width: 550px;
            margin-top: 5.5rem;
            position: relative;
            &::before{
                content: '01';
                position: absolute;
                top: -54px;
                left: -121px;
                font-family: $secondary;
                font-size: 5rem;
                color: $grey;
            }
        }
    }
    #galerie{
        position: relative;
        padding-top: 0rem;
        padding-bottom: 0rem;
        height: 100vh;
        &::after{
            content: '02';
            position: absolute;
            right: 12rem;
            bottom: 5rem;
            font-family: $secondary;
            font-size: 5.5rem;
            color: $grey;
        }
        .content{
            padding-left: 14rem;
            padding-right: 11rem;
            padding-top: 5rem;
            h2{
                font-size: 4.75rem;
                margin-bottom: 2rem;
            }
            p{
                &.last-child{
                    margin-bottom: 8.4rem;
                }
            }
        }
    }
}

